<app-header></app-header>
<div class="cen-set">
  <div class="box">
    <input type="file" hidden (change)="EditImg($event)" #newimg>
    <img src="{{character?.image}}" alt="" class="img-set" (click)="newimg.click()">
    <div class="text-set">
      <!-- <span>{{character?.name}} </span> -->
      <div style="display: flex; align-items: center;">
        <input type="text" value="{{character?.name}}" class="input-set" #name>
      </div>
      <div style="display: flex; align-items: center;">
        <button class="btn-save" (click)="updateName(name.value)" >Save</button>
      </div>
      <div>
        <span style="color: #CE6F00;">#{{character?.cid}}</span>
      </div>
    </div>
    <div class="text-set">
      <span>Total: </span>
      <span style="color: #CE6F00; margin-left: 1vw; margin-right: 0.3vw;">{{character?.total_point}} </span>
      <span> Point</span>
    </div>
    <div style="margin-top: 1.7vw;">
      <button class="delete-btn" (click)="DeleteImg()">Delete</button>
    </div>
  </div>
  <div style="width: 50%; height: 55%; margin-left: 2vw; background-color: aliceblue; border-radius: 20px;">
    <canvas id="myChart" style="width: 50%; height: 50%"></canvas>
  </div>
</div>
